﻿@model Hamburgueria.Models.FaleConosco
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">

                <div class="align-center">
                    <i class="fa fa-flask fa-5x mar-bot20"></i>
                    <h2 class="slogan">Bem-vindo ao Burggraf</h2>
                    <p>
                        Entre, nobre cavaleiro, e aprecie os misteriosos haburgueres de Burggraf
                        lenda aqui, blablabla, coisa e tal
                        Mais histórias sobre o nobre haburguer medieval que foi alvo de guerras santas
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- services -->
<section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-code fa-5x mar-bot20"></i>
                    <h4 class="text-bold"></h4>
                    <p>
                        Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-terminal fa-5x mar-bot20"></i>
                    <h4 class="text-bold"></h4>
                    <p>
                        Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-bolt fa-5x mar-bot20"></i>
                    <h4 class="text-bold"></h4>
                    <p>
                        Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- spacer section:testimonial -->
<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">BURGGRAF</blockquote>
            <p class="color-white">Vida longa ao hamburguer</p>
        </div>
    </div>
</section>

<!-- sobre -->
<section id="section-about" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Nosso time</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>

        <div class="row align-center mar-bot40">
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member1.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Samuel</h4>
                        <span>Título a escolher (formal ou zoeiro?)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member1.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Rodrigo</h4>
                        <span>Título a escolher (formal ou zoeiro?)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member4.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Motoqueiro</h4>
                        <span>Motoqueiro (todos serão lembrados?)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="img/team/member4.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Le cheff</h4>
                        <span>E a equipe da cozinha?</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /about -->
<!-- spacer section:stats -->
<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">BURGGRAF</blockquote>
            <p class="color-white">Deus salve o hamburguer</p>
        </div>
    </div>
</section>

<!-- section works -->
<section id="section-works" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Conheça nossos produtos</h2>
                    <p>Sim, temos aqui os mais deliciosos hamburgures, para os mais longinquos cavaleiros que anseiam por uma refeição.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="#" class="current btn-theme btn-small" data-filter="*">Todos</a></li>
                    <li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Hamburgures</a></li>
                    <li><a href="#" class="btn-theme btn-small" data-filter=".photography">Bebidas</a></li>
                    <li><a href="#" class="btn-theme btn-small" data-filter=".print">Outros</a></li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix" id="3">

                        <article class="col-md-4 isotopeItem webdesign">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img1.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img2.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img2.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img3.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img3.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img4.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img4.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img5.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img5.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem webdesign">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img6.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img6.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img7.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img7.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img8.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img8.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="img/portfolio/img9.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="img/portfolio/img9.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>


            </div>
        </div>

    </div>
</section>
<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot40">
        <blockquote class="bigquote color-white">BURGGRAF</blockquote>
        <p class="color-white">Hamburguer is comming</p>
    </div>
</section>

<!-- contact -->
<section id="section-contact" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Fale conosco</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">
                        Recebemos sua mensagem. Obrigado!
                    </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Seu nome aqui" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email (opicional)" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Assunto, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Assunto, new { htmlAttributes = new { @class = "form-control", placeholder = "Assunto" } })
                            @Html.ValidationMessageFor(model => model.Assunto, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mensagem, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextAreaFor(model => model.Mensagem, htmlAttributes: new { @class = "form-control", placeholder = "Mensagem", rows = 5 })
                            @Html.ValidationMessageFor(model => model.Mensagem, "", new { @class = "text-danger" })
                        </div>
                        @Html.Hidden("Data",DateTime.Now) 

                        <button type="submit" name="enviar" class="btn btn-theme pull-left">Enviar!</button>
            }
        }
                </div>
            </div>
            <!-- ./span12 -->
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</section>