﻿@model Hamburgueria.Models.Usuarios
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="row"  style="margin-bottom: 120px">
    <div class="col-md-6 col-md-offset-2" style="padding-left: 15%;">
        <div class="cform" id="contact-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario" } })
                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control login-senha", placeholder = "Senha" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" name="enviar" class="btn btn-theme pull-left">Enviar!</button>
                }
            }
        </div>
    </div>
</div>