﻿@model Hamburgueria.Models.Enderecos

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Deseja realmente deletar esse endereço?</h3>
<div>
    <h4>Enderecos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApelidoDoEndereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApelidoDoEndereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairros.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairros.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
