﻿@model List<Hamburgueria.ViewModels.PedidoVM>

@{
    ViewBag.Title = "DetalhesDoPedido";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Detalhes do pedido nº @Model[0].Id</h2>
<br /><br />

<h3 style="text-align: center;">Informações do cliente </h3>
<hr />
<div class="col-md-6">
    <dl class="dl-horizontal">
        <dt>Nome do cliente</dt>
        <dd>@Html.DisplayFor(model => Model[0].Nome)</dd>

        <dt>Data do pedido</dt>
        <dd>@Html.DisplayFor(model => Model[0].Data)</dd>

        <dt>Valor total</dt>
        <dd>R$ @Html.DisplayFor(model => Model[0].ValorTotal)</dd>
    </dl>
</div>

<div class="col-md-6">
    <dl class="dl-horizontal">
        <dt>Endereço</dt>
        <dd>@Html.DisplayFor(model => Model[0].Endereco)</dd>

        <dt>Bairro</dt>
        <dd>@Html.DisplayFor(model => Model[0].Bairro)</dd>

        <dt>Complemento</dt>
        <dd>@Html.DisplayFor(model => Model[0].Complemento)</dd>
    </dl>
</div>

<div class="row">
    <h3 style="text-align: center; margin-top: 135px">Informações do produto </h3>
    <hr />

    @foreach (var pedido in Model)
    {
        <div class="col-md-6">
            <h4>Itém @pedido.IdProdutoDoPedido </h4>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => pedido.Produto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => pedido.Produto)
                </dd>

                <dt>
                    Adicionais
                </dt>
                @if (pedido.AdicionaisDoProdutoDoPedido.Count() == 0)
                {
                    <dd> - </dd>
                }
                else
                {
                    foreach (var adicional in pedido.AdicionaisDoProdutoDoPedido)
                    {
                        <dd>
                            @adicional.Adicionais.Nome
                        </dd>
                    }
                }

                <dt>
                    @Html.DisplayNameFor(model => pedido.Observacoes)
                </dt>

                @if (string.IsNullOrEmpty(pedido.Observacoes))
                {
                    <dd> - </dd>
                }
                else
                {
                    <dd> @Html.DisplayFor(model => pedido.Observacoes) </dd>
                }

            </dl>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Editar", "EditarPedido", new { id = Model[0].Id }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
