﻿@model Hamburgueria.Models.Administradores
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginAdmin.cshtml";
}

<div class="text-center" style="padding:50px 0">
    <div class="logo">login</div>
    <!-- Main Form -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="login-form-1">
                <div id="login-form" class="text-left">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">


                            <div class="form-group">
                                @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "sr-only" })
                                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", id = "lg_username", placeholder = "Usuário" } })
                                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "sr-only" })
                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", id = "lg_password", placeholder = "Senha" } })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                    <div class="etc-login-form">
                        <p>Esqueceu a senha? @Html.ActionLink("Clique aqui", "EsqueciMinhaSenha", "Admin")</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
