﻿@model IEnumerable<Hamburgueria.Models.Pedidos>

@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Pedidos</h2>

@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormasDePagamento.FormaDePagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrocoPara)
            </th>
            <th>
                Status do Pedido
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.Usuario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormasDePagamento.FormaDePagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrocoPara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPedidos.StatusPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarPedido", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "DetalhesDoPedido", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
            </td>
        </tr>
        }
    </table>
 }
 else
 {
        <tr>
            <td>Nenhum pedido em aberto no momento</td>
        </tr>
 }

