﻿@model Tuple<Hamburgueria.Models.Produtos, List<Hamburgueria.Models.Adicionais>>
@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar ítem ao pedido?</h2>

<table class="table">
    <tr>
    <tr>
        <th>
        </th>
        <th>
            Produto
        </th>
        <th>
            Preço
        </th>
        <th>
            Descrição
        </th>
    </tr>

    <tr>
        <td>
            <img src="~/Img/produtos/@Model.Item1.Imagem" style="width: 100px; border-radius: 6%;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Item1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Item1.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Item1.Descricao)
        </td>
    </tr>
</table>

@if(Model.Item2.Count >= 1)
{
<h4>Adicionais</h4>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container" style="margin-bottom:30px">
            <div class="row">
                @for (int i = 0; i < Model.Item2.Count; i++)
                {
                    <div class="col-md-3" title="R$ @Model.Item2[i].Preco.ToString()">
                        <div class="col-md-2">
                            @Html.CheckBox("adicionais", new {id = Model.Item2[i].Id.ToString() })
                        </div>
                        <div class="col-md-10">
                            @Model.Item2[i].Nome
                        </div>
                    </div>

                    @Html.Hidden("idAdicionais", Model.Item2[i].Id)
                }
            </div>

            <h4 style="margin-top:20px">Observações?</h4>
            <div>
                <p> Faça observações sobre o seu pedido caso queira adicionar ou remover algum ítem.<br />Caso seja alérgico a algum ítem ou tempero, específicar aqui também </p>
            </div>
            <div class="row">
                @Html.TextArea("observacao", new { @class = "form-control", placeholder = "Observações", rows = 5 })
            </div>
        </div>

        @Html.Hidden("IdProduto", Model.Item1.Id)

        <button type="submit" name="enviar" class="btn btn-theme pull-left">Adicionar e voltar à lista</button>
        <a name="voltar" class="btn btn-theme pull-left" href="~/Pedidos/" style="margin-left:20px">Cancelar e voltar à lista</a>
    }
}


