﻿@model IEnumerable<Hamburgueria.ViewModels.FinalizarPedidoVM>

@{
    ViewBag.Title = "Finalizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do pedido</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th></th>
    </tr>

    @{
        int i = 0;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.ActionLink("Remover", "Remover", new { id = i })
                </td>
            </tr>
            i++;
        }
    }

    <tr>
        <td>
            <strong>Total</strong>
        </td>
        <td></td>
        <td></td>
        <td>
            <strong>R$ @decimal.Round(Model.Sum(x => x.Preco),2)</strong>
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-bottom: 15px">
        <div class="col-md-5">
            <div class="form-group">
                @Html.Label("Selecione o Endereço", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("idEndereco", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Forma de pagamento", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("idFormaDePagamento", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Troco para: ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="form-group">
                    <label class="sr-only" for="trocoPara">Quantia</label>
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input type="text" class="form-control" name="trocoPara" id="trocoPara" placeholder="Troco para R$">
                        <div class="input-group-addon">,00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top: 50px; float: left; margin-right: 15%; margin-left: 18px;">
            <button type="submit" name="enviar" class="btn btn-theme pull-left">Fechar pedido</button>
            <a name="voltar" class="btn btn-theme pull-left" href="~/Pedidos/" style="margin-left:20px">Voltar à lista</a>
        </div>
    </div>
}


