﻿@model IEnumerable<Hamburgueria.Models.Produtos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cardápio</h2>


@{int idTipoDeProduto = 0;
    foreach (var item in Model)
    {
        if (item.IdTipoDoProduto != idTipoDeProduto)
        {
            idTipoDeProduto = item.IdTipoDoProduto;
            <h4>@item.TiposDeProdutos.Nome</h4>

            <table class="table table-striped table-responsive table-hover datatable">
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item2 in Model.Where(x => x.IdTipoDoProduto == idTipoDeProduto))
                {
                    <tr>
                        <td>
                            <img src="~/Img/produtos/@item2.Imagem" style="width: 100px; border-radius: 6%;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Descricao)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Adicionar", new { id = item2.Id }, new { @class = "glyphicon glyphicon-plus", style = "font-size: 15px; text-decoration: none; color: #79CDC0", title = "Adicionar" })
                        </td>
                    </tr>
                }
            </table>
        }
    }
}

@Html.ActionLink("Finalizar pedido", "Finalizar", ' ' , new { @class = "btn btn-theme pull-left", style = "float: left; margin-left: 45%; font-size: 30px " ,title = "Finalizar" })


