﻿@model Hamburgueria.Models.Produtos

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "Produtos", FormMethod.Post, new { enctype = "multipart/form-data", @class = "upload-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Produtos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <img src="~/Img/produtos/@Model.Imagem" style="margin-left: 30%; margin-bottom: 50px; width: 50%; border-radius: 6%;"/>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTipoDoProduto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdTipoDoProduto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdTipoDoProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control dinheiro" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-12" style="color: indianred; padding-left: 18%;">Atenção: Imagens de no máximo 2Mb nos formatos PNG ou JPG</p>
            <label class="control-label col-md-2" for="Imagem">Trocar imagem</label>
            <div class="col-md-10">
                <input type="file" class="upload-file" data-max-size="2097152" name="image" id="image">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="enviar-formulario" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à lista", "Index")
</div>
