﻿@model Hamburgueria.Models.Bairros

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Deletar</h2>

<h3>Deseja realmente deletar esse bairro?</h3>
<div>
    <h4>Bairros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
             @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
