﻿@model IEnumerable<Hamburgueria.Models.Bairros>

@{
    ViewBag.Title = "Bairros";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Bairros</h2>

<p>
@Html.ActionLink("Cadastrar novo", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Id })
        </td>
    </tr>
}

</table>
