﻿@model Hamburgueria.Models.Usuarios

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesejaReceberEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesejaReceberEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiposDeUsuarios.TipoDeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposDeUsuarios.TipoDeUsuario)
        </dd>


        @* Lembrar de colocar um foreach para puxar os endereços da conta *@

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar à lista", "Index")
</p>
