﻿@model IEnumerable<Hamburgueria.Models.Usuarios>

@{
    ViewBag.Title = "Usuário cadastrados";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Lista de usuários cadastrados</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesejaReceberEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td><!--  hidden for, Felipe! -->
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesejaReceberEmail)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
