﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Burggraf - Vida longa ao hamburguer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>

<body>

    <section id="header" class="appear"></section>
    @*
        //se for não for a home page (home/index é interpretada como caminho inicial default)
        olhe em app_start/RouteConfig caso não esteja familhiarizado com C# MVC.
        Isso serve apenas para fazer o efeito to topo de fade out acontecer na home index.
        se O caminho absoluto da URL não for "/" (interpretado também como Home/Index)...
    *@
    @if (HttpContext.Current.Request.Url.AbsolutePath != "/")
    {
        <div class="navbar navbar-fixed-top" style="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bars color-white"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="../" style="line-height:50px;">
                            Burggraf
                        </a>
                    </h1>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-top:5px;">
                        <li class="active"><a href="../">Home</a></li>
                        <li><a href="../#section-about">Quem somos</a></li>
                        <li><a href="../#section-works">Fotos</a></li>
                        <li><a href="../#section-contact">Fale Conosco</a></li>
                        @if(DadosTemporarios.RetornaNivelDeAcessoDoUsuario() == null || DadosTemporarios.RetornaNivelDeAcessoDoUsuario() != "Cliente")
                        {
                        <li>@Html.ActionLink("Cadastrar", "Cadastrar", "Usuarios")</li>
                        <li>@Html.ActionLink("Login", "Index", "Login")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Minha conta","Editar", "Usuarios")</li>
                            <li>@Html.ActionLink("Meus endereços salvos", "Index", "Enderecos")</li>
                            <li>@Html.ActionLink("Fazer pedido", "Index", "Pedidos")</li>
                        }
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
    }
    else
    {
        <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bars color-white"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="~/Views/Home/Index.cshtml" data-0="line-height:90px;" data-300="line-height:50px;">
                            Burggraf
                        </a>
                    </h1>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                        <li class="active"><a href="../">Home</a></li>
                        <li><a href="../#section-about">Quem somos</a></li>
                        <li><a href="../#section-works">Fotos</a></li>
                        <li><a href="../#section-contact">Fale Conosco</a></li>
                        @if (DadosTemporarios.RetornaNivelDeAcessoDoUsuario() == null || DadosTemporarios.RetornaNivelDeAcessoDoUsuario() != "Cliente")
                        {
                            <li>@Html.ActionLink("Cadastrar", "Cadastrar", "Usuarios")</li>
                            <li>@Html.ActionLink("Entrar", "Index", "Login")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Minha conta", "Editar", "Usuarios")</li>
                            <li>@Html.ActionLink("Meus endereços salvos", "Index", "Enderecos")</li>
                            <li>@Html.ActionLink("Fazer pedido", "Index", "Pedidos")</li>
                        }
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 100px;">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span>
            </button>
            <strong>Parece que algo deu errado. </strong> <br /><br />@Html.Raw(@TempData["MensagemErro"])
        </div>
    }
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 100px;">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span>
            </button>
            <strong>Sucesso! </strong><br /><br />@Html.Raw(@TempData["MensagemSucesso"])
        </div>
    }
    @if (HttpContext.Current.Request.Url.AbsolutePath != "/")
    {
        <div class="container" style="padding-top: 100px;">
            @RenderBody()
        </div>
    }
    else
    {
        @RenderBody()
    }
    <hr />
    <footer>

        <section id="footer" class="section footer">
            <div class="container">
                <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                    <div class="col-sm-12 align-center">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row align-center copyright">
                    <div class="col-sm-12"><p>&copy; @DateTime.Now.Year - Burggraf</p></div>

                </div>
            </div>

        </section>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/globalization")
    @Scripts.Render("~/bundles/bootstrap")

    <!--Script para globalização dos formatos de input (validação para o Jquery Val)-->
    <script>

        $.validator.methods.number = function (value, element) {
            var val = Globalize.parseFloat(value);
            return this.optional(element) ||
                (val);
        }

        $.validator.methods.date = function (value, element) {
            var val = Globalize.parseDate(value);
            return this.optional(element) ||
                (val);
        }

        $(function () {

            Globalize.culture('pt-BR');

            jQuery.extend(jQuery.validator.methods, {
                range: function (value, element, param) {
                    //Use the Globalization plugin to parse the value
                    var val = Globalize.parseFloat(value);
                    return this.optional(element) || (
                        val >= param[0] && val <= param[1]);
                }
            });

        });
    </script>

    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
</body>
</html>
