﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Burggraf - Vida longa ao hamburguer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/loginAdmin")
</head>
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 100px;">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <strong>Parece que algo deu errado. </strong> <br /><br />@Html.Raw(@TempData["MensagemErro"])
        </div>
    }
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 100px;">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <strong>Sucesso! </strong><br /><br />@Html.Raw(@TempData["MensagemSucesso"])
        </div>
    }
<body style="background-color: #efefef;">
    <div>
    @RenderBody()
    </div>
    @Scripts.Render("~/bundles/LoginAdmin")
</body>
</html>
