﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/globalization")
    @Scripts.Render("~/bundles/bootstrap")   
   
    <!--Script para globalização dos formatos de input (validação para o Jquery Val)-->
    <script>

        $.validator.methods.number = function (value, element) {
            var val = Globalize.parseFloat(value);
            return this.optional(element) ||
                (val);
        }

        $.validator.methods.date = function (value, element) {
            var val = Globalize.parseDate(value);
            return this.optional(element) ||
                (val);
        }

        $(function () {

            Globalize.culture('pt-BR');

            jQuery.extend(jQuery.validator.methods, {
                range: function (value, element, param) {
                    //Use the Globalization plugin to parse the value
                    var val = Globalize.parseFloat(value);
                    return this.optional(element) || (
                        val >= param[0] && val <= param[1]);
                }
            });

        });
    </script>

    @Scripts.Render("~/bundles/admin")
    @Styles.Render("~/Content/admin")
    @Styles.Render("~/Content/alertify")
    @RenderSection("Scripts", required: false)


</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="~/admin/pedidos" class="logo">
            <h3>Burggraf</h3>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left info">
                        <p> @DadosTemporarios.RetornaNomeDoUsuario()</p>
                    </div>
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">

                    @if (DadosTemporarios.RetornaNivelDeAcessoDoUsuario() == "Administrador")
                    {
                    <li>@Html.ActionLink("Gráficos", "Graficos", "Admin")</li>
                    }
                    <li>@Html.ActionLink("Tipos de produto", "Index", "TiposDeProdutos")</li>
                    <li>@Html.ActionLink("Usuários administradores", "Index", "Administradores")</li>
                    <li>@Html.ActionLink("Adicionais", "Index", "Adicionais")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                    <li>@Html.ActionLink("Bairros", "Index", "Bairros")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Status do pedido", "Index", "StatusPedidos")</li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-warning alert-dismissible" style="width: 100%; float: right; z-index: 999;" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span>
                </button>
                <strong>Erro! </strong> @TempData["MensagemErro"]
            </div>

        }
        <div class="container">
            <aside class="right-side">
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        @RenderBody()
                    </div>
                </section>
            </aside>
        </div>
    </div>

</body>
</html>